html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871,#F9F871) no-repeat;
  
}

.root {
  height: 100%;
  padding-bottom: 15px;
}

.todoBody {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
}

.todoBody::-webkit-scrollbar-track
{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.todoBody::-webkit-scrollbar
{
  width: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.todoBody::-webkit-scrollbar-thumb
{
  background-color: #845EC2;
  border-radius: 4px;
}

.todoBody::-webkit-scrollbar-thumb:hover
{
  background-color: #845EC2;
}

.todoApp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.todoTitle {
  font-size: 36px;
  line-height: 2;
  font-weight: 800;
  text-align: center;
}

.todoList {
  margin: 0;
  padding: 0;
}

.todoListItem {
  position: relative;
  z-index: 2;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.todoItemCheckbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.todoItemDel {
  background: url("../assets/icon-delete.svg") no-repeat center center / contain;
  cursor: pointer;
  width: 30px;
  height: 30px;

}
.todoItemDel:hover {
  transform: scale(1.2);
}

.todoItemLabel {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
  .todoItemLabel_fulfilled {
    text-decoration: line-through;
    font-weight: 200;
  }
  .todoItemLabel_size0 {
    font-size: 14px;
  }
  .todoItemLabel_size1 {
    font-size: 20px;
  }
  .todoItemLabel_size2 {
    font-size: 24px;
  }

.inputBox {
  position: relative;
  z-index: 2;
  display: flex;
}

.inputFieldBox {
  flex-grow: 1;
  padding-right: 15px;
}

.todoInput {
  font-family: 'Fira Sans', sans serif;
  font-weight: 200;
  font-size: 16px;
  height: 30px;
  border: 1px solid #845EC2;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
  .todoInput::placeholder {
    color: #845EC2;
  }

.todoInputBtn {
  height: 32px;
  border: none;
  outline: 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Fira Sans', sans serif;
  font-weight: 800;
  border-radius: 5px;;
  background: linear-gradient(#845EC2, #D65DB1);
  padding: 0 15px;
  transition: 0.2s;
}
  .todoInputBtn:hover {
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
  }


.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 15px;
  min-height: 62px;
}

.todoHeaderStats {
  display: flex;
  gap: 15px;
  font-size: 14px;
  font-weight: 200;
}

.inputNotice {
  padding: 15px;
  color: #990000;
  font-weight: 800;
}

.taskPriority {
  display: flex;
  align-items: center;
  padding: 15px;
}

.taskPriority__title {
  margin-right: 15px;
}

.taskPriority__label {
  font-weight: 200;
  margin:0 15px 0 5px;
}

.taskPriority__input {
  margin-bottom: 3px;
}